.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
*miniconda.sh
*.log
*.sqlite
*.db
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.log
*.out
*.toc
*.synctex.gz
*.dvi
*.ps
*.eps
*.lof
*.lot
*.bit
*.idx
*.glo
*.bbl
*.ilg
*.ind
*.ist
*.glg
*.gls
*.glsdefs
*.acn
*.acr
*.alg
*.thm
*.nav
*.snm
*.vrb
*.upa
*.upb
*.run.xml